{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% load static %} {% block files_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %} {% block content %}
<br>
<div class="panel col-sm-offset-2 col-sm-8 w3-card-4 w3-border-green">
    <br>
    <form method="post">
        <center>
            <h3><b>Nueva Persona del Sistema</b></h3></center>
        <hr>
        {% csrf_token %} {% crispy form %}
    </form>
</div>

{%endblock%}
