{% extends "includes/base.html" %}
{% block content %}
<center>
    <h1><b>Eliminaras una Persona del Sistema</b></h1>
    <hr>
</center>
{% if msj %}
<div class="alert alert-danger">
<strong>Error!</strong> {{msj}}   <a class="btn btn-success" href="{% url 'bodega:lis-per' %}"> Atras</a>
</div>
{% else %}

<div class="col-sm-offset-2 col-sm-7 panel panel-default" >
    <form method="post">
      <h2>¿Desea Eliminar a {{object.nombres}} ?</h2>
        {% csrf_token %}
        <hr>
        <center>
          <input type="submit" class="btn btn-danger"name="Eliminar" value="Eliminar">
          <a class="btn btn-success" href="{% url 'bodega:lis-per' %}"> Cancelar</a>
        </center>
    </form>
    <br>
</div>
{% endif %}
{% endblock %}
