{% extends "includes/base.html" %} {% block content %}
<center>
  <h1>Listado de Personas en el Sistema</h1>

</center>
<hr>
<div class="container-fluid ">
    <div class="table-responsive">
        <table class="table w3-table-all w3-card-4">

            <thead class="thead-inverse">
                <tr>
                    <th>id</th>
                    <th>Identificacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>

                </tr>
            </thead>
            <tbody>
                {% for persona in lista %}
                <tr>
                    <td>
                        {{ persona.id}}
                    </td>
                    <td>
                        {{ persona.identificacion}}
                    </td>
                    <td>
                        {{ persona.nombres}}
                    </td>
                    <td>
                        {{ persona.apellidos}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'bodega:act-per' persona.id %}" name="btn-mod">MODIFICAR</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"  href="{% url 'bodega:elm-per' persona.id %}" name="btn-elm">ELIMINAR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
