<div class="navbar-default sidebar" role="navigation" style="background-color:#3d3d3d;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav nav-mi" id="side-menu">
            <li class="li-men-u">
                <a class="a-men" href="#" class="a-men"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Personal<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level nav-mi">
                    <li>
                      <a class="a-men" href="{% url 'bodega:lis-per' %}"><i class="fa fa-address-book" aria-hidden="true"></i> Listar Personas</a>
                    </li>
                    <li>
                      <a class="a-men" href="{% url 'bodega:cre-per' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Persona</a>
                    </li>
                </ul>
            </li>
            <li class="li-men-u">
                <a class="a-men" href="#" class="a-men"><i class="fa fa-cubes" aria-hidden="true"></i> Recursos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level nav-mi">
                    <li>
                      <a class="a-men" href="{% url 'bodega:lis-rec' %}"><i class="fa fa-list-ol" aria-hidden="true"></i> Listar Recursos</a>
                    </li>
                    <li>
                      <a class="a-men" href="{% url 'bodega:cre-rec' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></i> Agregar Recurso</a>
                    </li>
                </ul>
            </li>
            <li class="li-men-u">
                <a class="a-men" href="#" class="a-men"><i class="fa fa-check-square-o" aria-hidden="true"></i> Asignarciones<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level nav-mi">
                    <li>
                      <a class="a-men" href="{% url 'bodega:lis-asi' %}"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Historial de Asignaciones</a>
                    </li>
                    <li>
                      <a class="a-men" href="{% url 'bodega:lis-per-rec' %}"><i class="fa fa-list-ol" aria-hidden="true"></i> Personas con Recursos</a>
                    </li>
                    <li>
                      <a class="a-men" href="{% url 'bodega:cre-asi' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Asignar Recurso a Persona</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>
