{% extends "includes/base.html" %}
{% block content %}
<center>
    <h1><b>Eliminaras un Recurso de la Bodega</b></h1>
    <hr>
</center>
{% if msj %}
<div class="alert alert-danger">
<strong>Error!</strong> {{msj}}   <a class="btn btn-success" href="{% url 'bodega:lis-rec' %}"> Atras</a>
</div>
{% else %}
<div class="col-sm-offset-2 col-sm-7 panel panel-default" >
    <form method="post">
      <h2>¿Desea Eliminar el Recurso {{object.nombre}} ?</h2>
        {% csrf_token %}
        <hr>
        <center>
          <input type="submit" class="btn btn-danger"name="Eliminar" value="Eliminar">
          <a class="btn btn-success" href="{% url 'bodega:lis-rec' %}"> Cancelar</a>
        </center>
    </form>
    <br>
</div>
{% endif %}
{% endblock %}
