{% extends "includes/base.html" %} {% block content %}
<center>
  <h1>Listado de Recursos en el Sistema</h1>

</center>
<hr>
<div class="container-fluid ">
    <div class="table-responsive">
        <table class="table w3-table-all w3-card-4">

            <thead class="thead-inverse">
                <tr>
                    <th>Codigo</th>
                    <th>Serie</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Marca</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for recurso in lista %}
                <tr>
                    <td>
                        {{ recurso.codigo}}
                    </td>
                    <td>
                        {{ recurso.serie}}
                    </td>
                    <td>
                        {{ recurso.nombre}}
                    </td>
                    <td>
                        {{ recurso.estado}}
                    </td>
                    <td>
                        {{ recurso.marca}}
                    </td>
                    <td>
                      <a class="btn btn-success" href="{% url 'bodega:act-rec' recurso.id %}" name="btn-mod">MODIFICAR</a>
                    </td>
                    <td>
                      <a class="btn btn-danger"  href="{% url 'bodega:elm-rec' recurso.id %}" name="btn-elm">ELIMINAR</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
