{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="panel col-sm-offset-2 col-sm-8 w3-card-4 w3-border-green">

    <form method="post">
      <center><h3><b>Modificar Recurso</b></h3></center><hr>

        {% csrf_token %} {% crispy form %}

    </form>

</div>
{%endblock%}
