{% extends "includes/base.html" %} {% block content %}
<center>
    <h1>Detalle de Asignacion</h1>

</center>
<hr>
<div class="container-fluid ">
  <div class="col-sm-9 col-md-offset-2 w3-card-4" style="margin-bottom: 30px; right: 1%;">

      <h4>RECURSOS ASIGNADOS a <b>{{persona}}</b>: </h4>
      <table class="table w3-table-all w3-card-4">

          <thead class="thead-inverse">
              <tr>
                  <th>Codigo</th>
                  <th>Serie</th>
                  <th>Recurso</th>
                  <th>Marca</th>

              </tr>
          </thead>
          <tbody>
            {% for asignacion in asignacion_list %}
            <tr>
                <td>
                    {{ asignacion.id_recurso.codigo }}
                </td>

                <td>
                    {{ asignacion.id_recurso.serie }}
                </td>
                <td>
                    {{ asignacion.id_recurso.nombre }}
                </td>
                <td>
                    {{ asignacion.id_recurso.marca }}
                </td>
            </tr>
            {% endfor %}
              {% for asignacion in lista_personas %}
              <tr>
                  <td>
                      {{ asignacion.id_persona.identificacion}}
                  </td>

                  <td>
                      {{ asignacion.id_persona.nombres}}
                  </td>
                  <td>
                      {{ asignacion.id_persona.apellidos}}
                  </td>
                  <td>
                      <a class="btn btn-success" href="{% url 'bodega:det-asi' asignacion.id_persona.id %}" name="btn-mod">Recursos</a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

  </div>
  <div class="col-md-12">
      <center>

      <a href="{% url 'bodega:lis-per-rec' %}" class="btn btn-warning">Atras</a>
      </center>
      <br>
  </div>

</div>
{% endblock%}
