{% extends "includes/base.html" %} {% block content %}
<center>
  <h1>Listado de Asignaciones en el Sistema</h1>

</center>
<hr>
<div class="container-fluid ">
    <div class="table-responsive">
        <table class="table w3-table-all w3-card-4">

            <thead class="thead-inverse">
                <tr>
                    <th>Fecha de asignacion</th>
                    <th>Evento</th>
                    <th>Persona</th>
                    <th>Recurso</th>
                    <th>Codigo</th>
                    <th>Serie</th>
                </tr>
            </thead>
            <tbody>
                {% for asignacion in lista %}
                <tr>

                    <td>
                        {{ asignacion.fecha_asignacion}}
                    </td>
                    <td>{{ asignacion.evento}}</td>

                    <td>
                        {{ asignacion.id_persona.nombres}} {{ asignacion.id_persona.apellidos}}
                    </td>
                    <td>
                        {{ asignacion.id_recurso.nombre}}
                    </td>
                    <td>
                        {{ asignacion.id_recurso.codigo}}
                    </td>
                    <td>
                        {{ asignacion.id_recurso.serie}}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
