{% extends "includes/base.html" %} {% block content %}
<center>
  <h1>Listado de Personas con Recursos</h1>

</center>
<hr>
<div class="container-fluid ">
    <div class="table-responsive">
        <table class="table w3-table-all w3-card-4">

            <thead class="thead-inverse">
                <tr>
                    <th>Identificacion</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Recursos</th>
                    <th>Treaslado</th>


                </tr>
            </thead>
            <tbody>
                {% for persona in lista_personas %}
                <tr>
                    <td>
                        {{ persona.identificacion}}
                    </td>

                    <td>
                        {{ persona.nombres}}
                    </td>
                    <td>
                        {{ persona.apellidos}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'bodega:det-asi' persona.id %}" name="btn-mod">Recursos</a>
                    </td>
                    <td>
                      <a class="btn btn-danger" href="{% url 'bodega:tra-rec' persona.id%}" name="btn-mod">Trasladar Recursos</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
