{% extends "includes/base.html" %} {% load crispy_forms_tags %} {% load static %} {% block files_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %} {% block content %}
<br>
<div class="panel col-sm-offset-2 col-sm-8 w3-card-4 w3-border-green">
    <br>

    <form method="post">
        <center>
            <h3><b>Traslado de Recursos de {{persona}}</b></h3></center>
        <hr> {% if msj %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{msj}}.</strong>
        </div>
        {% endif %} {% csrf_token %}

        <div class="form-group col-md-6">
            <label for="">
            {{form.recursos.label}} asignados
          </label> {{form.recursos}}
            <p style="color: silver;">
                Mantenga Presionado CONTROL para Asignar mas de un Recurso
            </p>
        </div>
        <div class="form-group col-md-6">
            <label for="">
            {{form.personas.label}}
          </label><br> {{form.personas}}
            <p style="color: silver;">
                Selecciona la Persona Encargada
            </p>
        </div>
        <br>
        <div class="col-md-12">
            <center>
                <button type="submit" class="btn btn-success"> Trasladar <i class="fa fa-exchange" aria-hidden="true" ></i></button>

            </center>
            <br>

        </div>

    </form>
</div>
{%endblock%} {% block files_food %} {% endblock %}
